[init]
	defaultBranch = main

[user]
	useConfigOnly = true
	name = Brandon Cardoso
	email = 1226170+brandoncardoso@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII88Lutdjo7+iONllO61HhzKRJFl985sErFYu2VjjH/Z

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/mnt/c/Users/bran/AppData/Local/1Password/app/8/op-ssh-sign-wsl"

[commit]
	gpgsign = true


[core]
	editor = nvim
	hooksPath = .githooks

[color]
	ui = true

[color "diff"]
	meta = cyan
	frag = magenta bold
	whitespace = red

[color "status"]
	added = green
	changed = yellow
	untracked = red
	branch = cyan

[commit]
	verbose = true

[diff]
	algorithm = histogram

[pull]
	; fast-forward only
	ff = only
	rebase = true

[merge]
	conflictstyle = diff3
	prompt = true

[rerere]
	; recording of resolved conflicts
	enabled = true

[stash]
	showPatch = true

[push]
	default = current
	autoSetupRemote = true
	followTags = true

[log]
	decorate = full

[status]
	submoduleSummary = true

[blame]
	coloring = repeatedLines
	date = short
	markUnblameableLines = true
	markIgnoredLines = true

[alias]
	a = !git add
	ap = add --patch
	bl = blame
	br = branch
	brd = branch --delete
	brl = branch --all --list --verbose
	brm = branch --move
	cf = config
	cfg = config --global
	ch = !git checkout
	chb = !git checkout -b
	cl = clone
	co = commit
	coa = commit --amend
	com = commit --message
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	cps = cherry-pick --skip
	d = diff
	ds = diff --staged
	i = init
	l = log --graph
	la = log --graph --all
	m = merge
	ms = merge --squash
	pl = pull
	ps = push
	pst = push --tags
	psu = push --set-upstream
	psuo = push --set-upstream origin
	rb = rebase
	rbc = rebase --continue
	rbi = rebase --interactive
	re = reset
	reh = reset --hard
	reh1 = reset --hard HEAD~1
	res = reset --soft
	rs = restore
	rss = restore --staged
	rv = revert
	sh = stash push
	shc = stash clear
	shd = stash drop
	shl = stash list
	shm = stash push --message
	shp = stash pop
	shu = stash push --include-untracked
	sm = submodule
	sma = submodule add
	smd = submodule deinit
	smu = submodule update --remote --merge
	st = status
	t = tag
	tm = tag --message
	td = tag --delete
	tl = tag --list
	whoami = !git config --get user.name && git config --get user.email
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
