.netrwhist

# vim
vim/.vim/bundle/
!vim/.vim/bundle/Vundle.vim
*.swp

# neovim
neovim/.config/*
!neovim/.config/nvim
neovim/.config/nvim/plugged/*
neovim/.config/nvim/undo/*

# tmux
tmux*.log
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm

# mpv
mpv/.config/mpv/watch_later/

# bash
bash/.bashrc_private
