[submodule ".vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "polybar/.config/polybar/scripts/polybar-pulseaudio-control"]
	path = polybar/.config/polybar/scripts/polybar-pulseaudio-control
	url = https://github.com/marioortizmanero/polybar-pulseaudio-control.git
[submodule "fcitx/.config/fcitx/skin/fcitx-dracula"]
	path = fcitx/.config/fcitx/skin/fcitx-dracula
	url = https://github.com/BrandonCardoso/fcitx-dracula.git
	branch = main
[submodule "alacritty/.config/alacritty/colors/dracula"]
	path = alacritty/.config/alacritty/colors/dracula
	url = git@github.com:dracula/alacritty.git
[submodule "shell/.tmux/plugins/tpm"]
	path = shell/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "alacritty/.config/alacritty/colors/catppuccin"]
	path = alacritty/.config/alacritty/colors/catppuccin
	url = git@github.com:catppuccin/alacritty.git
