.netrwhist

#vim
vim/.vim/bundle/
!vim/.vim/bundle/Vundle.vim
*.swp

#neovim
neovim/.config/*
!neovim/.config/nvim
neovim/.config/nvim/plugged/*
neovim/.config/nvim/undo/*

#tmux
tmux*.log
shell/.tmux/plugins/*
!shell/.tmux/plugins/tpm

mpv/.config/mpv/watch_later/

shell/.bashrc_private
