*.swp
.netrwhist
vim/.vim/bundle/
!vim/.vim/bundle/Vundle.vim
neovim/.config/nvim/plugged/*
neovim/.config/nvim/undo/*
neovim/.config/configstore
neovim/.config/coc
tmux*.log
mpv/.config/mpv/watch_later/
shell/.bashrc_private
shell/.tmux/plugins/*
!shell/.tmux/plugins/tpm
