[Unit]
Description=AIO startup service

[Service]
Type=oneshot
ExecStart=liquidctl initialize all
ExecStart=liquidctl set led color off
ExecStart=liquidctl set fan speed 20 40  35 100

[Install]
WantedBy=default.target
